{% extends 'base.html.twig' %}
{% block anime_nav %}active{% endblock %}
{% block title %} {{ parent() }} - Anime {% endblock %}

{% block body %}

    <div class="col-sm-offset-2 col-sm-10">
        <h1>Modification d'un anime</h1>
    </div>

    <div class="form-horizontal">
        {{ form_start(formulaire) }}
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Titre</label>
            {{ form_widget(formulaire.name, {'attr': {'class': 'col-sm-4'}}) }}
            {{ form_errors(formulaire.name) }}
        </div>

        <div class="form-group">
            {{ form_label(formulaire.description, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_widget(formulaire.description, {'attr': {'class': 'col-sm-4 height'}}) }}
            {{ form_errors(formulaire.description) }}
        </div>

        <div class="form-group">
            {{ form_label(formulaire.img, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_widget(formulaire.img, {'attr': {'class': 'col-sm-4'}}) }}
            {{ form_errors(formulaire.img) }}
        </div>

        <div class="form-group">
            {{ form_label(formulaire.categorie, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_widget(formulaire.categorie, {'attr': {'class': 'col-sm-2'}}) }}
            {{ form_errors(formulaire.categorie) }}
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>
        {{ form_end(formulaire) }}
    </div>

{% endblock %}