{% extends 'base.html.twig' %}
{% block anime_nav %}active{% endblock %}
{% block title %} {{ parent() }} - Anime {% endblock %}

{% block body %}

    {% for message in app.session.flashBag.get("profil") %}
        {{ message }}
    {% endfor %}
    {% for message in app.session.flashBag.get("ajout") %}
        {{ message }}
    {% endfor %}

    <div class="row">
        <div class="col-sm-2 col-sm-offset-9">
            <a href="{{ path('add_episode_anime', { 'id': anime.id }) }}"><button type="submit" class="btn btn-default">Add Episode</button></a>
        </div>
    </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="row">
                    <div class="col-xs-8 col-sm-2">
                        <img src="{{ anime.img }}" width="100" height="150">
                    </div>
                    <div class="col-xs-4 col-sm-10">
                        <h2>{{ anime.name }}</h2>

                        <a href="{{ path('edit_anime', { 'id': anime.id }) }}"><button type="submit" class="btn btn-default glyphicon glyphicon-edit"></button></a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('delete_anime', { 'id': anime.id }) }}"><button type="submit" class="btn btn-default glyphicon glyphicon-trash"></button></a>
                        {% endif %}

                        <div class="pull-right">
                            <a href="{{ path('anime_add_vu', { 'id': anime.id }) }}"><button type="submit" class="btn btn-default glyphicon glyphicon glyphicon-ok-circle"></button></a>
                            <a href="{{ path('anime_add_after', { 'id': anime.id }) }}"><button type="submit" class="btn btn-default glyphicon glyphicon-time"></button></a>
                            <a href="{{ path('anime_add_now', { 'id': anime.id }) }}"><button type="submit" class="btn btn-default glyphicon glyphicon-play-circle"></button></a>
                        </div>

                        <p>{{ anime.description }}</p>

                        <p> Genres:
                            {% for category in anime.categorie %} {{ category.name }}, {% endfor %}
                        </p>

                    </div>
                    <div class="col-xs-4 col-sm-10">Liste des episode</div>
                    {% for episode in anime.episode %}
                        <div class="col-xs-4 col-sm-10">
                            <li>
                                <a href="{{ path('detail_episode_anime', { 'id': episode.id }) }}"> {{ episode.episode }} - {{ episode.name }}  </a>
                            </li>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

{% endblock %}