{% extends 'base.html.twig' %}
{% block serie_nav %}active{% endblock %}
{% block title %} {{ parent() }} - Serie {% endblock %}

{% block body %}

    <div class="col-sm-offset-2 col-sm-10">
        <h1>Ajout d'un épisode</h1>
    </div>

    <div class="form-horizontal">
        {{ form_start(formulaire) }}
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Titre</label>
            {{ form_widget(formulaire.name, {'attr': {'class': 'col-sm-4'}}) }}
            {{ form_errors(formulaire.name) }}
        </div>

        <div class="form-group">
            {{ form_label(formulaire.description, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_widget(formulaire.description, {'attr': {'class': 'col-sm-4 height'}}) }}

            {{ form_errors(formulaire.description) }}
        </div>

        <div class="form-group">
            {{ form_label(formulaire.episode, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_widget(formulaire.episode, {'attr': {'class': 'col-sm-1'}}) }}

            {{ form_errors(formulaire.episode) }}
        </div>

        <div class="form-group">
            {{ form_label(formulaire.duree, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_widget(formulaire.duree, {'attr': {'class': 'col-sm-1'}}) }}
            {{ form_errors(formulaire.duree) }}
        </div>

        <div class="form-group">
            {{ form_label(formulaire.sortie, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_widget(formulaire.sortie, {'attr': {'class': 'col-sm-2'}}) }}
            {{ form_errors(formulaire.sortie) }}
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>
        {{ form_end(formulaire) }}
    </div>

{% endblock %}